html {
  justify-content: center;
  background-color: #ffffff;
  font-family: 'Helvetica' 'Arial' 'sans-serif';
  --accent-color: #BA160C;
}

* {
  box-sizing: border-box;
  border-style: dotted;
  border-color: black;
  border-width: 0px;
}

body {
  justify-content: center;
  display: block;
}

#page {
  text-align: center;
  justify-content: center; /* horizontal alignment */
  align-items: center; /* vertical alignment */
  display: grid;
  grid-row: auto;
  max-width: 99vw;
  min-width: 70vw;
  min-height: 90vh;
  margin: 1rem;
}

.header {
  /* display: flex;
  flex-direction: column; */
  background-color: var(--accent-color);
  color: white;
  border-radius: 1.5rem;
  text-align: start;
}

.header h1 {
  font-weight: bold;
  font-size: 7rem;
  padding: 1.8rem;
  padding-bottom: 0.7rem;
  margin: 0px;
  max-width: 99vw;
  min-width: 70vw;
  /* 
  flex-grow: what percentage of the other objects' size this one should be at MAX. 
  flex-shrink: what percentage idk
  flex-basis: sets the initial main size.
  */
}

.header .dividing-line {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  flex: 0 0 auto;
}

.header .list {
  text-align: end;
  padding: 1.8rem;
  margin: 0px;
}

.header sub {
  display: block;
  font-size: 2rem;
  /* margin-top: 5px; */
  text-wrap: nowrap;
}

section {
  border-width: 4px;
  border-style: solid;
  border-color:var(--accent-color);
  text-align: left;
  margin-top: 3rem;
}

section header {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.3rem;
  /* padding-bottom: 0.7rem; */
  /* padding-right: 5rem; */
  margin: 0px;
  max-width: 99vw;
  min-width: 70vw;
}

.contact-container {
  padding: 0.3rem;
  margin-top: 1rem;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.contact {
  padding: 0px;
}

.project {
  padding: 0.5rem;
}

.project:hover {
  background-color: rgb(213, 213, 213);
}

.project h2 {
  margin: 0px;
  font-size: 1.3rem;
}