html {
  justify-content: center;
  background-color: #ffffff;
  font-family: 'Helvetica' 'Arial' 'sans-serif';
}

* {
  border-style: dotted;
  border-color: black;
  border-width: 0px;
}

h1 {
  font-weight:bold;
  font-size: 150px;
  margin:0px;
  padding-top: 5vh;
}

h2 {
  font-weight:bold;
  font-size: 50px;
  margin:0px;
}

sub {
  display:block;
  font-size: 40px;
  padding-bottom: 10px;
}

#background {
  text-align: center;
  justify-content: center; /* horizontal alignment */
  align-items: center; /* vertical alignment */
  display: grid;
  grid-row:auto;
  min-height: 100vh;
}

.info-card {
  display:block;
  margin: 40px;
  width: min(1500px, 80vw);
  padding: 40px;
  background-color: rgb(255, 255, 255);
  justify-content:left;
  text-align:left;
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
  /* border-bottom-style: solid;
  border-color: black;
  border-bottom-width: 5px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
