html {
  font-family: 'Helvetica' 'Arial' 'sans-serif';
  /* font-size: 14px; */
  --accent-color: #ba160c;
  --background-color: #ffffff;
  --shadow-color: #000000;
  --hover-color: #e6e6e6;
  background-color: var(--background-color);
  
}

* {
  box-sizing: border-box;
  border-style: dotted;
  border-color: black;
  border-width: 0px;
}

a, button {
  text-decoration: none;
  color: black;
}

#page {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-row: auto;
  margin: 5vw;
}

footer {
  margin-top: 4rem;
}



/* HEADER / HERO TEXT STYLE */

.header {
  background-color: var(--accent-color);
  color: var(--background-color);
  /* border-radius: 1.5rem; */
  text-align: start;
  box-shadow: 10px 10px var(--shadow-color);
}

.header h1 {
  font-weight: bold;
  font-size: 7rem;
  padding: 1.8rem;
  padding-bottom: 0.7rem;
  margin: 0px;
}

.header .dividing-line {
  border-color: var(--background-color);
  border-top-width: 3px;
  border-style: solid;
  flex: 0 0 auto;
}

.header .list {
  text-align: end;
  padding: 1.8rem;
  margin: 0px;
}

.header sub {
  display: block;
  font-size: 2rem;
  text-wrap: nowrap;
}

section {
  box-shadow: 10px 10px 0px var(--shadow-color);
  border-width: 3px;
  border-style: solid;
  border-color: var(--accent-color);
  text-align: left;
  margin-top: 4rem;
}

section header {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.3rem;
  margin: 0px;
  /* max-width: 99vw;
  min-width: 70vw; */
}



/* CONTACT STYLE */

.contact-container {
  margin-top: 3rem;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 4.1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 45em) {
  .contact-container {
    grid-template-columns: repeat(2, 1fr);
    height: 8rem;
  }
}

.contact {
  padding: 0.3rem;
  display: flex;
  transition: 150ms;
}
.contact:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 0px 0.3rem var(--shadow-color);
}

.contact-icon {
  height: 3rem;
  padding-right: 0.4rem;
}

.contact-text {
  text-align: left;
  display: grid;
  font-size: 1rem;
}

.contact-text text {
  font-weight: bold;
}

.contact-text sub {
  font-weight: light;
}



/* PROJECT STYLE */

.project {
  padding: 0.5rem;
  transition: 150ms;
  cursor: pointer;
  /* width: auto; */
}

.project-preview {
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  display: grid;
  gap: 0.3rem;
  /* min-width: 100%; */
  max-width: 60rem;
  grid-template-columns: auto minmax(auto, 100rem) auto;
  grid-template-areas: "title brief arrow";
  align-items: end;
}
@media (max-width: 45em) {
  .project-preview {
    grid-template-columns: auto 1rem;
    grid-template-areas: "title arrow" "brief brief";
  }
}
.active, .project:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 0px 0.3rem var(--shadow-color);
  cursor: pointer;
}

.project-preview h2 {
  margin: 0px;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 0.5rem;
}

.project-preview h3 {
  margin: 0px;
  font-size: 1rem;
  font-weight: normal;
  overflow: hidden;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.3rem;
}
@media (max-width: 45em) {
  .project-preview h3 {
    padding-bottom: 0px;
  }
}

.project-preview h4 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0px;
  /* width: 2rem; */
}