#code-content {
  margin-top: 3rem;
  width: min(25rem, 100vw);
  display: grid;
  vertical-align: bottom;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  grid-template-areas: ". t1"
                       ". t2"
                       "p1d p1c"
                       "p2d p2c"
                       "p3d p3c"
                       "p4d p4c"
                       ". t3";
}

#code-content #t2, #code-content #t3 {
  margin-bottom: 0.75rem;
}

#code-content h2, #code-content a {
  font-size: 1.5rem;
  display: block;
  line-height: 1.5rem;
}

#code-content a:hover {
  color: var(--text-color-dark);
}

.p-details * {
  margin: 0px;
  margin-right: 0.3rem;
  color: var(--text-color-light);
  text-align: right;
  font-size: 1.5rem;
}

.p-content * {
  text-align: left;
  color: var(--text-color-dark);
  font-size: 1.5rem;
  font-weight: 500;
}
.p-content .title {
  font-weight: 800;
}