#page-content {
  display: grid;
  vertical-align: bottom;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  grid-template-areas: ". t1"
                       "t2 t3"
                       "t4 t5"
                       ". t6"
                       ". about"
                       "l-title l1"
                       "l-title l2"
                       "l-title l3"
                       "c-title l4"
                       "c-title l5"
                       "c-title l6"
                       ". footer";
}