:root {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -0.05rem;
  font-size: 16px;
  --accent-color: #ff4f00; /* Original: #B1140B */
  --background-color: #ffffff;
  --app-background: #f8f8f8;
  --shadow-color: #0000003b;
  --line-color: #d7d7d7;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
  --static-shadow: 0rem 0rem 1rem var(--shadow-color);
  --line-width: 0.3rem;
  --border-radius: 1rem;
  --accent-texture: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asvgjs%3D%22http%3A%2F%2Fsvgjs.dev%2Fsvgjs%22%20viewBox%3D%220%200%20700%20700%22%20width%3D%22700%22%20height%3D%22700%22%20opacity%3D%221%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22nnnoise-filter%22%20x%3D%22-20%25%22%20y%3D%22-20%25%22%20width%3D%22140%25%22%20height%3D%22140%25%22%20filterUnits%3D%22objectBoundingBox%22%20primitiveUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22linearRGB%22%3E%0A%09%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.05%22%20numOctaves%3D%224%22%20seed%3D%2215%22%20stitchTiles%3D%22stitch%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20result%3D%22turbulence%22%3E%3C%2FfeTurbulence%3E%0A%09%3CfeSpecularLighting%20surfaceScale%3D%224%22%20specularConstant%3D%221.2%22%20specularExponent%3D%2220%22%20lighting-color%3D%22%23ffffff%22%20x%3D%220%25%22%20y%3D%220%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20in%3D%22turbulence%22%20result%3D%22specularLighting%22%3E%0A%20%20%20%20%09%09%3CfeDistantLight%20azimuth%3D%223%22%20elevation%3D%22200%22%3E%3C%2FfeDistantLight%3E%0A%20%20%09%3C%2FfeSpecularLighting%3E%0A%20%20%0A%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect%20width%3D%22700%22%20height%3D%22700%22%20fill%3D%22%2300000000%22%3E%3C%2Frect%3E%3Crect%20width%3D%22700%22%20height%3D%22700%22%20fill%3D%22%23ffffff%22%20filter%3D%22url%28%23nnnoise-filter%29%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--accent-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pill {
  height: 3rem;
  width: 4.75rem;
  position:fixed;
  top: 1rem;
  left: 1rem;

  border-radius: 1rem;
  background-color: var(--text-color-light);

  box-shadow: -102rem 0 0 100rem var(--text-color-light);
  clip-path: inset(0 -100vmax);

  z-index: 2;
}
